<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Add Employee</title>
        <link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <header class = "bg-dark text-light">
            <div class = "container">
                <div class = "row">
                    <div class = "col-md-12">
                        <h1>Add Employee</h1>
                    </div>
                </div>
            </div>
        </header>
        <main class = "container mt-4">
            <section id = "form" class = "bg-light py-5">
                <div class =  "container">
                    <p>Enter Employee Details</p>
                    {% if errormessage %}
                        <div class = "alert alert-danger" role = "alert">
                            {{ errormessage }}
                        </div>
                    {% endif %}
                    <form action = "/add-employee" method = "post">
                        <div class = "form-group">
                            <label for = "name">Name</label>
                            <input type = "text" id = "name" name = "name" class = "form-control" value = "{{ name }}" required>
                        </div>
                        <div class = "form-group">
                            <label for = "salary">Salary</label>
                            <input type = "number" min = "0" step = "any" id = "salary" name = "salary" class = "form-control" value = "{{ salary }}" required>
                        </div>
                        <div class = "form-group">
                            <label for = "bankAccountNo">Bank Account Number</label>
                            <input type = "text" id = "bankAccountNo" name = "bankAccountNo" class = "form-control" value = "{{ bankAccountNo }}" required>
                        </div>
                        <div class = "form-group">
                            <label for = "natInsuranceNo">National Insurance Number</label>
                            <input type = "text" id = "natInsuranceNo" name = "natInsuranceNo" class = "form-control" value = "{{ natInsuranceNo }}" required>
                        </div>
                        <button type = "submit" class = "btn btn-primary">Submit</button>
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>